.hero {
    padding-block-start: 16px;
}

.hero-description {
    display: flex;
    flex-direction: column;
    gap: 16px;
    font: Poppins, sans-serif;
}

.hero-img {
    text-align: center;
}

.hero-img img {
    max-inline-size: 100%;
    block-size: auto;
}

.hero-description h1 {
    font: Poppins, sans-serif;
    margin: 15px;
}

.hero-description h1 span:nth-last-of-type(1) {
    font: Poppins, sans-serif;
    display: block;
}

@media screen and (min-width: 768px) {
    .hero {
        display: flex;
        gap: 32px;
    }

    .hero-description {
        order: 1;
        max-inline-size: 450px;
    }

    .hero-img {
        order: 2;
        text-align: end;
        flex: 1;
    }
};

@media screen and (min-width: 1024px) {
    .hero-img {
        inline-size: 510px;
        block-size: 500px;
        width: 500px;
        height: auto;
    }
    
}