@import "./header.css";
@import "./menu.css";
@import "./hero.css";
@import "./social.css";
@import "./button-icon.css";
@import "./button.css";
@import "./project.css";
@import "./card.css";
@import "./certificated.css";
@import "./shared.css";
@import "./copyright.css";
@import "./footer.css";


body {
background-color: #18a9c5;
color: black;
font-family: sans-serif;
}