.project {
    padding-block-start: 40px;
    padding-block-end: 40px;
}

.project-images img {
    max-inline-size: 100%;
    margin: 2px;
}

.project-description {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.project-description p {
    font: Poppins, sans-serif;
    color: black;
}

@media screen and (min-width: 768px) {
    .project {
        display: flex;
        align-items: center;
        gap: 32px;
        padding-block-start: 80px;
        padding-block-end: 80px;
    }

    .project-description{
        flex: 1;
        color: black;
        order: 1;
    }


    
}

